<h3>{{viewTitle}}</h3>

<form action="/products" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Category ID</label>
        <input type="text" class="form-control" name="categoryid" value="{{product.CategoryID}}">
    </div>
    <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" name="categoryname" value="{{product.CategoryName}}">
    </div>
    <div class="form-group">
        <label>Product ID</label>
        <input type="text" class="form-control" name="productid" value="{{product.ProductID}}">
    </div>
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="productname" value="{{product.ProductName}}">
    </div>
    <div class="form-group">
        <button class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a href="/products/list" class="btn btn-secondary"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>